
<%= stylesheet_link_tag 'index', :media => "all" %>

<h3>記事を検索</h3>

<div class="search">
    <input type="text" placeholder=" ">
    <div>
        <svg>
            <use xlink:href="#path">
        </svg>
    </div>
</div>
    
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160 28" id="path">
        <path d="M32.9418651,-20.6880772 C37.9418651,-20.6880772 40.9418651,-16.6880772 40.9418651,-12.6880772 C40.9418651,-8.68807717 37.9418651,-4.68807717 32.9418651,-4.68807717 C27.9418651,-4.68807717 24.9418651,-8.68807717 24.9418651,-12.6880772 C24.9418651,-16.6880772 27.9418651,-20.6880772 32.9418651,-20.6880772 L32.9418651,-29.870624 C32.9418651,-30.3676803 33.3448089,-30.770624 33.8418651,-30.770624 C34.08056,-30.770624 34.3094785,-30.6758029 34.4782612,-30.5070201 L141.371843,76.386562" transform="translate(83.156854, 22.171573) rotate(-225.000000) translate(-83.156854, -22.171573)"></path>
    </symbol>
</svg>
    
<!-- dribbble -->
<a class="dribbble" href="https://dribbble.com/shots/5547403-Search-input-animation" target="_blank"><img src="https://dribbble.com/assets/logo-small-2x-9fe74d2ad7b25fba0f50168523c15fda4c35534f9ea0b1011179275383035439.png" alt=""></a>
# <%= form_tag({controller:"deus",action:"index"}, method: :get) do %>
#  <%= text_field_tag :search %>
#  <%= submit_tag '検索する'  %>
# <% end %>
<%= form_tag({controller:"deus",action:"index"}, method: :get) do %>
  <% @tags.each do |t| %>
      <li><%= check_box :tag_ids, t.name %><%= t.name %></li>
  <% end %>
  <%= submit_tag '検索' %>
<% end %>


<li class="nav-item active">
<a><%= link_to "新規投稿へ", new_deu_path, class: "nav-link" %></a>
</li>


<li class="nav-item active">
<% if user_signed_in? %>
  <%= link_to "マイページへ", user_path(current_user.id), class: "nav-link" %>
<% end %>
</li>

<%= page_entries_info @tweets %>
<h2>記事一覧</h2>
<div class="deus-container">
  <% @deus.each do |t| %>
      <div class="deu">
      
      <div class="main-box">
        <div class="right-container">
         <%= t.Title %>
         <% if user_signed_in? %>
         <%= link_to t.user.name, user_path(t.user.id) %>
         <% end %>
         </div>
        </div>
        <p class="time"><%= t.created_at %></p>
       </div>
        <% if user_signed_in? %>
          <% if current_user.already_liked?(t) %>
            <%= button_to deu_like_path(id: t.id, deu_id: t.id), method: :delete do %>
            <i class="fas fa-heart"></i><%= t.likes.count %>
          <% end %>
          <% else %>
            <%= button_to deu_likes_path(id: t.id, deu_id: t.id), method: :post do %>
              <i class="far fa-heart"></i><%= t.likes.count %>
            <% end %>
        <% end %>
        <% else %>
            <i class="far fa-heart"></i><%= t.likes.count %>
         <% end %>
         
         <%= link_to "詳細へ", deu_path(t.id) %>
         <%= image_tag t.user.image_url, size: "83x67" if t.user.image? %>
         
      </div>
  <% end %>
</div>
<%= paginate @tweets %>






